@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body {
  margin: 0;
  overflow: hidden;
  background: #000;
  font-family: "Inter", sans-serif;
}
canvas {
  display: block;
}

#crosshair {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

#crosshair::before,
#crosshair::after {
  content: '';
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
}

#crosshair::before {
  width: 12px;
  height: 2px;
  top: 5px;
  left: 0;
}

#crosshair::after {
  width: 2px;
  height: 12px;
  top: 0;
  left: 5px;
}

.monospace {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 1px 7px;
  background-color: #000;
  min-height: 25px;
  min-width: 25px;
  border-radius: 10px;
  font-family: "Space Mono", monospace;
  font-size: 14px;
}

.instructions {
  display: flex;
  flex-direction: column;
  gap: 10px;

  border-radius: 10px;

  position: absolute;
  top: 30px;
  right: 30px;
  background-color: #00000051;
  color: #fff;
  padding: 20px;
}

.targets_shot_count {
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: #00000051;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
}

#hint {
  position: fixed;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: monospace;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
}
#hint.active { opacity: 1; }

#random_gift {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  background: linear-gradient(to bottom, #ff416c, #ff4b2b);
  min-height: 30vh;
  padding: 30px;
  border-radius: 10px;
  position: fixed;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  color: white;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#random_gift.active {
  opacity: 1;
  pointer-events: all;
}
#random_gift_text {
  font-size: 18px;
  color: white;
}

#closeGiftBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  background: transparent;

  position: absolute;
  top: 16px;
  right: 16px;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 100%;
  min-width: 30px;
  min-height: 30px;

  font-size: 18px;
  color: white;
}
